@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-grid {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hotel-right {
    display: flex;
    flex-direction: row;
  }
  .hotel-slider {
    margin-bottom: 30px;
  }
  .swiper-slide-image {
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
    padding: 0 15px;
  }
  .header__search {
    margin-left: 48px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel-slider {
    margin-bottom: 30px;
  }
  .map {
    width: 340px;
  }
  .booking {
    width: 340px;
  }
  .logo {
    width: 132px;
  }
  .activities {
    padding: 68px 35px;
  }
  .activities-wrapper {
    gap: 18px;
  }
  .card {
    width: 340px;
    height: 255px;
  }
  .card__image {
    width: 100%;
  }
  .footer__top-wrapper {
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 38px;
  }
  .footer-logo {
    order: -2;
    margin-right: 82px;
  }
  .footer__social-network {
    order: -1;
    flex: 1 1 auto;
    width: 50%;
    align-self: center;
  }
  .fw {
    align-items: center;
  }
  .footer__bottom-wrapper {
    flex-wrap: wrap;
    gap: 60px;
  }
  .footer__info-wrapper {
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .header__top__menu-button {
    display: flex;
  }

  .hotel-grid {
    gap: 30px;
  }
  .hotel-right {
    gap: 30px;
  }
  .swiper {
    height: 179px;
  }
  .hotel-slider {
    max-width: 340px;

    margin: 0 auto;
  }

  .booking {
    margin: 0 auto;
  }
  .map {
    margin: 0 auto;
  }
  .booking__button {
    max-width: 235px;
    max-height: 45px;
    padding-right: 22px;
  }
  .newsletter-wrapper {
    flex-direction: column;
  }
  .newsletter-title {
    padding-right: 108px;
  }
  .reviews-text {
    max-width: 219px;
  }

  .footer__top-wrapper {
    flex-direction: column;
  }
  .footer-logo {
    width: 104px;
  }
  .footer__list {
    padding-left: 0;
  }
}
@media (max-width: 760px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 11px;
    background-color: inherit;
    padding: 0;
    position: relative;
  }
  .header__search {
    display: none;
  }
  .header__user {
    display: none;
  }
  .hotel-right {
    flex-direction: column;
  }
}
