@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .swiper-slide-image {
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .hotel-grid {
    flex-direction: column;
  }
  .hotel-right {
    display: flex;
    flex-direction: row;
  }
  .hotel-slider {
    margin-bottom: 30px;
  }
  .map {
    width: 340px;
  }
  .booking {
    width: 340px;
  }
  .logo {
    width: 132px;
  }

  .activities-wrapper {
    gap: 20px;
  }
  .card {
    width: 340px;
    height: 255px;
  }
  .card__image {
    width: 100%;
  }
  .footer__top-wrapper{
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 38px;
  }
  .footer-logo{
    order: -2;
    margin-right: 82px;
  }
  .footer__social-network{
    order: -1;
    flex:1 1 auto;
    width:50%;
    align-self: center;
  }
  .fw{
    align-items: center
  }
  .footer__bottom-wrapper {
    flex-wrap: wrap;
    gap: 60px;
  }
  .footer__info-wrapper {
    justify-content: space-between;
    gap: 0;
  }
  
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .header-menu {
    display: none;
  }
  .header__top__menu-button {
    display: flex;
  }
  .swiper {
    max-height: 179px;
  }
  .hotel-slider {
    max-width: 278.444px;
    min-height: 179px;
    flex-shrink: 0;
  }
  .booking {
    max-width: 279px;
    max-height: 210px;
  }
  .booking__button {
    max-width: 235px;
    max-height: 45px;
    padding-right: 22px;
  }
  .map {
    max-width: 280px;
    max-height: 172.941px;
  }
  .newsletter-wrapper {
    flex-direction: column;
  }
  .newsletter-title {
    padding-right: 108px;
  }
  .reviews-text {
    max-width: 219px;
  }
  .activities-wrapper {
    flex-direction: column;
  }
  .card {
    margin-bottom: 20px;
  }
  .footer__top-wrapper {
    flex-direction: column;
  }
  .footer-logo {
    width: 104px;
  }
  .footer__list {
    padding-left: 0;
  }
}
